body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navBar {
  border-bottom: 8px double black;
  padding-top: 4px;
  padding-bottom: 4px;
}

#brand {
  font-size: larger;
  font-weight: 600;
}

#brandLogo {
  height: 2rem;
  width: 2rem;
  float: right;
  margin-left: 5px;
}
